.card {
  background-color: #e4e722;
  margin: 15px;
  border-radius: 50px 0px;
  width: 200px;
  height: 100px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgb(75, 74, 74);
  box-shadow: 5px 5px 10px 1px rgba(15, 15, 15, 0.616);
}

.card:hover {
  filter: grayscale(60%);
}

.card__children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 760px) {
  .card__children {
    flex-direction: row;
  }
}
